name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.10']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
    - name: Debug ENV
      run: env
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
          python3 -m pip install --upgrade pip setuptools
          pip install tox tox-gh-actions
    - name: Test with tox
      run: FUNNEL_SERVER_TARGET=DEPLOY tox
